<div class="container">
    <h1 style="text-align: center;">Contribution To Asian Development Fund($million)</h1>
    <div class="table-wrapper">
      <div class="scrollable">
        <table class="responsive">
          <tbody>
            <tr>
              <th class="hide-mobile">Contributers</th>
              <th>Cumulative Effective Amounts</th>
              <th>of which ADF XI(2013-2016)</th>
              <th>of which ADF XI(2013-2016)</th>
              
            </tr>
            <tr>
              <td class="hide-mobile">Australia</td>
              <td>2688</td>
              <td>589</td>
              <td>276</td>
              
            </tr>
            <tr>
              
              <td class="hide-mobile">Austria</td>
                    <td>294</td>
                    <td>40</td>
                    <td>19</td>
              
            </tr>
            <tr>
                <td class="hide-mobile">Belgium</td>
                <td>244</td>
                <td>32</td>
                <td>-</td>
              
            </tr>
            <tr>
                <td class="hide-mobile">Canada</td>
                <td>2094</td>
                <td>140</td>
                <td>89</td>
            </tr>
            <tr>
                    
                <td class="hide-mobile">China</td>
                <td>194</td>
                <td>40</td>
                <td>82</td>
            </tr>
            <tr>
                
                <td class="hide-mobile" >Denmark</td>
                <td>2994</td>
                <td>400</td>
                <td>180</td>
            </tr>

            <tr>
                
                <td class="hide-mobile">Finland</td>
                <td>1294</td>
                <td>450</td>
                <td>190</td>
            </tr>

            <tr>
                
                <td  class="hide-mobile">France</td>
                <td>2914</td>
                <td>280</td>
                <td>190</td>
            </tr>

            <tr>
                
                <td class="hide-mobile" >Germany</td>
                <td>1194</td>
                <td>540</td>
                <td>60</td>
            </tr>
            <tr>
                
                <td  class="hide-mobile">Hong Kong</td>
                <td>114</td>
                <td>40</td>
                <td>19</td>
            </tr>
            <tr>
                
                <td class="hide-mobile">India</td>
                <td>2294</td>
                <td>30</td>
                <td>29</td>
            </tr>

            <tr>
                
                <td class="hide-mobile">Indonesia</td>
                <td>2294</td>
                <td>50</td>
                <td>19</td>
            </tr>
            <tr>
                
                <td class="hide-mobile" >Ireland</td>
                <td>2294</td>
                <td>405</td>
                <td>196</td>
            </tr>
            
            <tr>
                
                <td class="hide-mobile" >Italy</td>
                <td>294</td>
                <td>40</td>
                <td>19</td>
            </tr>
            <tr>
                
                <td class="hide-mobile">Japan</td>
                <td>294</td>
                <td>40</td>
                <td>19</td>
            </tr>

            
          </tbody>
        </table>
      </div>
      <div class="pinned">
        <table>
          <tbody>
            <tr>
              <th>Australia</th>
            </tr>
            <tr>
              <td>Austria</td>
            </tr>
            <tr>
              <td>Belgium</td>
            </tr>
            <tr>
              <td>Canada</td>
            </tr>
            <tr>
                <td>China</td>
              </tr>
              <tr>
                <td>Denmark</td>
              </tr>
              <tr>
                <td>Finland</td>
              </tr>
              <tr>
                <td>France</td>
              </tr>
              <tr>
                <td>Germany</td>
              </tr>
              <tr>
                <td>America</td>
              </tr>
              <tr>
                <td>India</td>
              </tr>
              <tr>
                <td>Indonesia</td>
              </tr>
              <tr>
                <td>Ireland</td>
              </tr>
              <tr>
                <td>Italy</td>
              </tr>
              <tr>
                <td>Japan</td>
              </tr>
              <tr>
                <td>Japan</td>
              </tr>

              
          </tbody>
        </table>
      </div>
    </div>
  </div>